extends layout

block content
  div(id='header')
    h1(class='text-center')= title
  div(id='container')
    div(class='items')
    div(class='itemWindow')
        h3(class="containerTitle").
          Add item
        div(class='itemForm')
          input(id='itemName', class='itemInput', type='text', placeholder='Item name')
          input(id='itemPrice', class='itemInput', type='texts', placeholder='Item price')
          input(id='addItemBtn', class='itemInput', type='button', value='Create')