extends layout

block content
  div(id='header')
    h1(class='text-center')= title
  div(class='container')
    div(id='items')
    div(id='footer', class='table-responsive text-center item-text total-row')
      table(class='table')
        tbody
          tr
            td.
              TOTAL	
            td
              span(id='total')
    div(class='itemWindow')
        h3(class="containerTitle").
          Add item
        div(class='itemForm')
          input(id='itemName', class='itemInput', type='text', placeholder='Item name')
          input(id='itemPrice', class='itemInput', type='text', placeholder='Item price')
          input(id='addItemBtn', class='itemInput', type='button', value='Create')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
  script(src='/javascripts/global.js')



