body {
	background-color: #EFE;
}

#header {
	margin-bottom: 20px;
}

#footer {
   position:fixed;
   width:inherit;
   bottom:0px;
   border-top: solid 1px;
   padding: 6px;
}

.container {
	width: 500px;
}

.item-text {
	font-size: 20px;
}

.total-row {
	font-weight: bold;
	color: #BB0202;
}

.itemWindow {
	position: fixed;
	top:30%;
	left: 40%;
	width: 250px;
	height: 170px;
	background-color: #FFF;
	border-radius: 6px;
	box-shadow:  0 1px 2px 1px rgba(0, 0, 0, 0.32);
	margin: 0 auto;
	padding:12px;
}
	
.itemForm {
	margin-top: 16px;
}

.itemInput{
	margin:5px;
}

.containerTitle {
	margin: 0;
	font-weight: bold;
}



