#items {
	margin: auto;
	width: 1000px;
	padding: 5px;
}

#items ul {
	padding: 0;
	margin: 0;
}

.item {
	display: inline-block;
	width: 100px;
	height: 100px;
	background-color: #FEFEFE;
	margin: 3px;
	padding: 3px;
	box-shadow: 0 1px 4px 1px #888888;
	border-radius: 2px;
}

.item:hover {
	box-shadow: 0 1px 6px 1px #888888;
}