.items {
	margin: auto;
	width: 1000px;
	padding: 5px;
}

.items ul {
	padding: 0;
	margin: 0;
}

.item {
	display: inline-block;
	width: 90px;
	height: 90px;
	background-color: #FEFEFE;
	margin: 3px;
	padding: 3px;
	line-height: 85px;
  	text-align: center;
}

.item:hover {
	box-shadow: 0 1px 10px 1px #888888;
	border-radius: 20px;
	background-color: #FEFEFE;
}

.item-icon {
	display: inline-block;
  	vertical-align: middle;
  	line-height: normal;   
}